-- MySQL dump 10.13  Distrib 5.1.53, for Win64 (unknown)
--
-- Host: localhost    Database: suivi_aep_fokoue
-- ------------------------------------------------------
-- Server version	5.1.53-community-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `abone`
--

DROP TABLE IF EXISTS `abone`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `abone` (
  `id` int(4) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(128) NOT NULL,
  `numero_telephone` varchar(16) NOT NULL,
  `numero_compte_anticipation` varchar(16) NOT NULL,
  `etat` varchar(10) NOT NULL,
  `rang` int(4) DEFAULT NULL,
  `id_reseau` int(3) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_reseau` (`id_reseau`),
  CONSTRAINT `abone_ibfk_1` FOREIGN KEY (`id_reseau`) REFERENCES `reseau` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1280 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `abone`
--

LOCK TABLES `abone` WRITE;
/*!40000 ALTER TABLE `abone` DISABLE KEYS */;
/*!40000 ALTER TABLE `abone` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aep`
--

DROP TABLE IF EXISTS `aep`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aep` (
  `id` int(4) unsigned NOT NULL AUTO_INCREMENT,
  `libele` varchar(64) NOT NULL,
  `description` text,
  `fichier_facture` varchar(64) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `numero_compte` varchar(32) DEFAULT NULL,
  `nom_banque` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aep`
--

LOCK TABLES `aep` WRITE;
/*!40000 ALTER TABLE `aep` DISABLE KEYS */;
INSERT INTO `aep` VALUES (17,'Fokoue','Principal Aep Fokoue','model_fokoue','2025-09-10','','');
/*!40000 ALTER TABLE `aep` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `branchement_abonne`
--

DROP TABLE IF EXISTS `branchement_abonne`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `branchement_abonne` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_abone` int(10) unsigned NOT NULL,
  `quartier` varchar(64) DEFAULT NULL,
  `code_abonne` varchar(32) DEFAULT NULL,
  `telephone` varchar(32) DEFAULT NULL,
  `statut` varchar(16) DEFAULT NULL,
  `mois` varchar(16) DEFAULT NULL,
  `versement_fcfa` int(11) DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_ba_abone` (`id_abone`),
  CONSTRAINT `fk_ba_abone` FOREIGN KEY (`id_abone`) REFERENCES `abone` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `branchement_abonne`
--

LOCK TABLES `branchement_abonne` WRITE;
/*!40000 ALTER TABLE `branchement_abonne` DISABLE KEYS */;
INSERT INTO `branchement_abonne` VALUES (2,1110,'','','','OK','2025-07',10000,'2025-09-25 13:47:04');
/*!40000 ALTER TABLE `branchement_abonne` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clefs`
--

DROP TABLE IF EXISTS `clefs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clefs` (
  `id` int(3) unsigned NOT NULL AUTO_INCREMENT,
  `value` varchar(32) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `value` (`value`)
) ENGINE=MyISAM AUTO_INCREMENT=14 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clefs`
--

LOCK TABLES `clefs` WRITE;
/*!40000 ALTER TABLE `clefs` DISABLE KEYS */;
INSERT INTO `clefs` VALUES (1,'Toto'),(2,'Bami'),(3,'Tami'),(4,'popo'),(5,'lewis1234'),(6,'blanche1234'),(7,'bertin1234'),(8,'ange1234'),(9,'achile1234'),(10,'testblanche'),(11,'martial1234'),(12,'eric1234'),(13,'fokoue');
/*!40000 ALTER TABLE `clefs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compteur`
--

DROP TABLE IF EXISTS `compteur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `compteur` (
  `id` int(5) unsigned NOT NULL AUTO_INCREMENT,
  `numero_compteur` varchar(16) NOT NULL,
  `longitude` decimal(12,6) DEFAULT NULL,
  `latitude` decimal(12,6) DEFAULT NULL,
  `derniers_index` decimal(7,2) NOT NULL,
  `description` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1282 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compteur`
--

LOCK TABLES `compteur` WRITE;
/*!40000 ALTER TABLE `compteur` DISABLE KEYS */;
/*!40000 ALTER TABLE `compteur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compteur_abone`
--

DROP TABLE IF EXISTS `compteur_abone`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `compteur_abone` (
  `id_abone` int(5) unsigned NOT NULL,
  `id_compteur` int(5) unsigned NOT NULL,
  KEY `fk_abone_compteur_abone` (`id_abone`),
  KEY `fk_compteur_compteur_abone` (`id_compteur`),
  CONSTRAINT `fk_abone_compteur_abone` FOREIGN KEY (`id_abone`) REFERENCES `abone` (`id`),
  CONSTRAINT `fk_compteur_compteur_abone` FOREIGN KEY (`id_compteur`) REFERENCES `compteur` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compteur_abone`
--

LOCK TABLES `compteur_abone` WRITE;
/*!40000 ALTER TABLE `compteur_abone` DISABLE KEYS */;
/*!40000 ALTER TABLE `compteur_abone` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compteur_aep`
--

DROP TABLE IF EXISTS `compteur_aep`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `compteur_aep` (
  `id_aep` int(4) unsigned NOT NULL,
  `id_compteur` int(5) unsigned NOT NULL,
  `id_position` int(2) unsigned NOT NULL,
  KEY `fk_position_compteur_aep` (`id_position`),
  KEY `fk_aep_compteur_aep` (`id_aep`),
  KEY `fk_compteur_compteur_aep` (`id_compteur`),
  CONSTRAINT `fk_aep_compteur_aep` FOREIGN KEY (`id_aep`) REFERENCES `aep` (`id`),
  CONSTRAINT `fk_compteur_compteur_aep` FOREIGN KEY (`id_compteur`) REFERENCES `compteur` (`id`),
  CONSTRAINT `fk_position_compteur_aep` FOREIGN KEY (`id_position`) REFERENCES `position_compteur_aep` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compteur_aep`
--

LOCK TABLES `compteur_aep` WRITE;
/*!40000 ALTER TABLE `compteur_aep` DISABLE KEYS */;
/*!40000 ALTER TABLE `compteur_aep` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compteur_reseau`
--

DROP TABLE IF EXISTS `compteur_reseau`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `compteur_reseau` (
  `id_reseau` int(5) unsigned NOT NULL,
  `id_compteur` int(5) unsigned NOT NULL,
  KEY `fk_reseau_compteur_reseau` (`id_reseau`),
  KEY `fk_compteur_compteur_reseau` (`id_compteur`),
  CONSTRAINT `fk_compteur_compteur_reseau` FOREIGN KEY (`id_compteur`) REFERENCES `compteur` (`id`),
  CONSTRAINT `fk_reseau_compteur_reseau` FOREIGN KEY (`id_reseau`) REFERENCES `reseau` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compteur_reseau`
--

LOCK TABLES `compteur_reseau` WRITE;
/*!40000 ALTER TABLE `compteur_reseau` DISABLE KEYS */;
/*!40000 ALTER TABLE `compteur_reseau` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `constante_reseau`
--

DROP TABLE IF EXISTS `constante_reseau`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `constante_reseau` (
  `id` int(2) unsigned NOT NULL AUTO_INCREMENT,
  `prix_metre_cube_eau` int(5) unsigned NOT NULL,
  `prix_entretient_compteur` int(5) unsigned NOT NULL,
  `prix_tva` decimal(7,2) unsigned NOT NULL,
  `date_creation` date NOT NULL,
  `est_actif` tinyint(1) NOT NULL,
  `description` text,
  `id_aep` int(4) unsigned NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `fk_aep_constante` (`id_aep`),
  CONSTRAINT `fk_aep_constante` FOREIGN KEY (`id_aep`) REFERENCES `aep` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `constante_reseau`
--

LOCK TABLES `constante_reseau` WRITE;
/*!40000 ALTER TABLE `constante_reseau` DISABLE KEYS */;
INSERT INTO `constante_reseau` VALUES (30,300,0,'0.00','2020-01-01',0,'',17),(31,300,500,'0.00','2025-01-01',1,'',17);
/*!40000 ALTER TABLE `constante_reseau` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facture`
--

DROP TABLE IF EXISTS `facture`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `facture` (
  `id` int(4) unsigned NOT NULL AUTO_INCREMENT,
  `id_indexes` int(6) unsigned NOT NULL,
  `montant_verse` decimal(15,2) DEFAULT '0.00',
  `date_paiement` date DEFAULT NULL,
  `penalite` decimal(15,2) DEFAULT '0.00',
  `id_abone` int(4) unsigned NOT NULL,
  `message` text,
  PRIMARY KEY (`id`),
  KEY `id_abone` (`id_abone`),
  KEY `fk_index_facture` (`id_indexes`),
  CONSTRAINT `facture_ibfk_2` FOREIGN KEY (`id_abone`) REFERENCES `abone` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_index_facture` FOREIGN KEY (`id_indexes`) REFERENCES `indexes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5728 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facture`
--

LOCK TABLES `facture` WRITE;
/*!40000 ALTER TABLE `facture` DISABLE KEYS */;
/*!40000 ALTER TABLE `facture` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flux_financier`
--

DROP TABLE IF EXISTS `flux_financier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flux_financier` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `mois` varchar(7) NOT NULL,
  `libele` varchar(128) NOT NULL,
  `prix` bigint(20) unsigned NOT NULL,
  `type` varchar(8) NOT NULL DEFAULT 'sortie',
  `description` text,
  `id_aep` int(5) unsigned NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `fk_aep_flux_financier` (`id_aep`),
  CONSTRAINT `fk_aep_flux_financier` FOREIGN KEY (`id_aep`) REFERENCES `aep` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flux_financier`
--

LOCK TABLES `flux_financier` WRITE;
/*!40000 ALTER TABLE `flux_financier` DISABLE KEYS */;
/*!40000 ALTER TABLE `flux_financier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `impaye`
--

DROP TABLE IF EXISTS `impaye`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `impaye` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `montant` bigint(20) DEFAULT NULL,
  `est_regle` int(1) DEFAULT '0',
  `id_facture` int(4) unsigned NOT NULL,
  `date_reglement` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_facture` (`id_facture`),
  CONSTRAINT `impaye_ibfk_1` FOREIGN KEY (`id_facture`) REFERENCES `facture` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `impaye`
--

LOCK TABLES `impaye` WRITE;
/*!40000 ALTER TABLE `impaye` DISABLE KEYS */;
/*!40000 ALTER TABLE `impaye` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `indexes`
--

DROP TABLE IF EXISTS `indexes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `indexes` (
  `id` int(6) unsigned NOT NULL AUTO_INCREMENT,
  `id_compteur` int(5) unsigned NOT NULL,
  `id_mois_facturation` int(3) unsigned NOT NULL,
  `ancien_index` decimal(8,2) NOT NULL,
  `nouvel_index` decimal(7,2) unsigned NOT NULL,
  `message` text,
  PRIMARY KEY (`id`),
  KEY `fk_compteur_indexes` (`id_compteur`),
  KEY `fk_mois_facturatio_indexes` (`id_mois_facturation`),
  CONSTRAINT `fk_compteur_indexes` FOREIGN KEY (`id_compteur`) REFERENCES `compteur` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_mois_facturatio_indexes` FOREIGN KEY (`id_mois_facturation`) REFERENCES `mois_facturation` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5750 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `indexes`
--

LOCK TABLES `indexes` WRITE;
/*!40000 ALTER TABLE `indexes` DISABLE KEYS */;
/*!40000 ALTER TABLE `indexes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intervention_rh`
--

DROP TABLE IF EXISTS `intervention_rh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `intervention_rh` (
  `intervention_id` int(11) NOT NULL,
  `rh_id` int(11) NOT NULL,
  `role_sur_intervention` varchar(120) DEFAULT NULL,
  `heures_prevues` decimal(12,2) DEFAULT '0.00',
  `heures_reelles` decimal(12,2) DEFAULT '0.00',
  `cout_prevu` decimal(14,2) DEFAULT '0.00',
  `cout_reel` decimal(14,2) DEFAULT '0.00',
  PRIMARY KEY (`intervention_id`,`rh_id`),
  KEY `idx_irh_rh` (`rh_id`),
  CONSTRAINT `fk_irh_intervention` FOREIGN KEY (`intervention_id`) REFERENCES `interventions` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_irh_rh` FOREIGN KEY (`rh_id`) REFERENCES `ressources_humaines` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intervention_rh`
--

LOCK TABLES `intervention_rh` WRITE;
/*!40000 ALTER TABLE `intervention_rh` DISABLE KEYS */;
/*!40000 ALTER TABLE `intervention_rh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intervention_rm`
--

DROP TABLE IF EXISTS `intervention_rm`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `intervention_rm` (
  `intervention_id` int(11) NOT NULL,
  `rm_id` int(11) NOT NULL,
  `quantite_prevue` decimal(12,2) DEFAULT '0.00',
  `quantite_reelle` decimal(12,2) DEFAULT '0.00',
  `cout_prevu` decimal(14,2) DEFAULT '0.00',
  `cout_reel` decimal(14,2) DEFAULT '0.00',
  PRIMARY KEY (`intervention_id`,`rm_id`),
  KEY `idx_irm_rm` (`rm_id`),
  CONSTRAINT `fk_irm_intervention` FOREIGN KEY (`intervention_id`) REFERENCES `interventions` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_irm_rm` FOREIGN KEY (`rm_id`) REFERENCES `ressources_materielles` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intervention_rm`
--

LOCK TABLES `intervention_rm` WRITE;
/*!40000 ALTER TABLE `intervention_rm` DISABLE KEYS */;
/*!40000 ALTER TABLE `intervention_rm` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interventions`
--

DROP TABLE IF EXISTS `interventions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `interventions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `aep_id` int(11) NOT NULL,
  `titre` varchar(200) NOT NULL,
  `type` varchar(100) NOT NULL,
  `description` text,
  `localisation` varchar(200) DEFAULT NULL,
  `date_debut_prevue` datetime DEFAULT NULL,
  `date_fin_prevue` datetime DEFAULT NULL,
  `date_debut_reelle` datetime DEFAULT NULL,
  `date_fin_reelle` datetime DEFAULT NULL,
  `statut` enum('planifiee','en_cours','terminee','annulee') DEFAULT 'planifiee',
  `cout_estime` decimal(14,2) DEFAULT '0.00',
  `cout_reel` decimal(14,2) DEFAULT '0.00',
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_interv_aep` (`aep_id`),
  KEY `idx_interv_statut` (`statut`),
  KEY `idx_interv_dates` (`date_debut_prevue`,`date_fin_prevue`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interventions`
--

LOCK TABLES `interventions` WRITE;
/*!40000 ALTER TABLE `interventions` DISABLE KEYS */;
INSERT INTO `interventions` VALUES (1,1,'Nettoyage des vanes','maintenances','djjdjdsjksdksd  sjsdksd dskd','Reservoire Nzah','2025-08-13 14:24:00','0000-00-00 00:00:00',NULL,'2025-08-29 14:26:05','terminee','0.00','0.00',7,NULL,NULL);
/*!40000 ALTER TABLE `interventions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logs`
--

DROP TABLE IF EXISTS `logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `page_libelle` varchar(255) DEFAULT NULL,
  `action` varchar(50) DEFAULT NULL,
  `timestamp` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=46 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logs`
--

LOCK TABLES `logs` WRITE;
/*!40000 ALTER TABLE `logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mois_facturation`
--

DROP TABLE IF EXISTS `mois_facturation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mois_facturation` (
  `id` int(3) unsigned NOT NULL AUTO_INCREMENT,
  `mois` varchar(32) NOT NULL,
  `date_facturation` date NOT NULL,
  `date_depot` date NOT NULL,
  `id_constante` int(2) unsigned NOT NULL,
  `description` text,
  `est_actif` tinyint(1) NOT NULL,
  `date_releve` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_id_mois` (`id`,`mois`),
  KEY `id_constante` (`id_constante`),
  CONSTRAINT `mois_facturation_ibfk_1` FOREIGN KEY (`id_constante`) REFERENCES `constante_reseau` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mois_facturation`
--

LOCK TABLES `mois_facturation` WRITE;
/*!40000 ALTER TABLE `mois_facturation` DISABLE KEYS */;
INSERT INTO `mois_facturation` VALUES (50,'2020-01','2020-01-29','2020-01-30',30,'ce mois ci contien des donnees bizarres',0,'2020-01-28'),(51,'2025-07','2025-08-29','2025-08-30',31,'',0,'2025-08-28'),(52,'2025-08','2025-09-24','2025-09-26',31,'',1,'2025-09-22'),(53,'2025-09','2025-10-31','2025-10-30',31,'',0,'2025-10-25');
/*!40000 ALTER TABLE `mois_facturation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `page_role_aep`
--

DROP TABLE IF EXISTS `page_role_aep`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `page_role_aep` (
  `page_id` int(11) NOT NULL DEFAULT '0',
  `role_id` int(11) NOT NULL DEFAULT '0',
  `write_access` int(1) DEFAULT '0',
  PRIMARY KEY (`page_id`,`role_id`),
  KEY `role_id` (`role_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `page_role_aep`
--

LOCK TABLES `page_role_aep` WRITE;
/*!40000 ALTER TABLE `page_role_aep` DISABLE KEYS */;
/*!40000 ALTER TABLE `page_role_aep` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pages`
--

DROP TABLE IF EXISTS `pages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `chaine` varchar(255) NOT NULL,
  `libelle` varchar(255) NOT NULL,
  `description` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_chaine` (`chaine`)
) ENGINE=MyISAM AUTO_INCREMENT=98 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pages`
--

LOCK TABLES `pages` WRITE;
/*!40000 ALTER TABLE `pages` DISABLE KEYS */;
/*!40000 ALTER TABLE `pages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `position_compteur_aep`
--

DROP TABLE IF EXISTS `position_compteur_aep`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `position_compteur_aep` (
  `id` int(2) unsigned NOT NULL AUTO_INCREMENT,
  `position` varchar(32) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `position_compteur_aep`
--

LOCK TABLES `position_compteur_aep` WRITE;
/*!40000 ALTER TABLE `position_compteur_aep` DISABLE KEYS */;
/*!40000 ALTER TABLE `position_compteur_aep` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `redevance`
--

DROP TABLE IF EXISTS `redevance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `redevance` (
  `id` int(4) unsigned NOT NULL AUTO_INCREMENT,
  `libele` varchar(64) NOT NULL,
  `pourcentage` decimal(5,2) NOT NULL,
  `description` text,
  `id_aep` int(4) unsigned DEFAULT NULL,
  `type` varchar(8) NOT NULL DEFAULT 'sortie',
  `mois_debut` varchar(8) DEFAULT '2025-03',
  PRIMARY KEY (`id`),
  KEY `fk_aep_redevance` (`id_aep`),
  CONSTRAINT `fk_aep_redevance` FOREIGN KEY (`id_aep`) REFERENCES `aep` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `redevance`
--

LOCK TABLES `redevance` WRITE;
/*!40000 ALTER TABLE `redevance` DISABLE KEYS */;
INSERT INTO `redevance` VALUES (2,'CUE','20.00','',17,'Sortie','2025-01');
/*!40000 ALTER TABLE `redevance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reseau`
--

DROP TABLE IF EXISTS `reseau`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reseau` (
  `id` int(3) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(32) NOT NULL,
  `abreviation` varchar(16) DEFAULT NULL,
  `date_creation` date NOT NULL,
  `description_reseau` text,
  `id_aep` int(4) unsigned NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `fk_aep_reseau` (`id_aep`),
  CONSTRAINT `fk_aep_reseau` FOREIGN KEY (`id_aep`) REFERENCES `aep` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reseau`
--

LOCK TABLES `reseau` WRITE;
/*!40000 ALTER TABLE `reseau` DISABLE KEYS */;
INSERT INTO `reseau` VALUES (31,'Nza\'Ah','NZA','2020-01-01','',17),(32,'Eweit','EWE','2020-01-01','',17),(33,'Mbouh','MBO','2020-01-01','',17),(34,'Madong','MAD','2020-01-01','',17);
/*!40000 ALTER TABLE `reseau` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ressources_humaines`
--

DROP TABLE IF EXISTS `ressources_humaines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ressources_humaines` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `aep_id` int(11) NOT NULL,
  `nom` varchar(150) NOT NULL,
  `fonction` varchar(120) DEFAULT NULL,
  `competences` text,
  `telephone` varchar(50) DEFAULT NULL,
  `statut` enum('disponible','occupe','indisponible') DEFAULT 'disponible',
  `cout_horaire` decimal(12,2) DEFAULT '0.00',
  `actif` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_rh_aep` (`aep_id`),
  KEY `idx_rh_statut` (`statut`),
  KEY `idx_rh_actif` (`actif`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ressources_humaines`
--

LOCK TABLES `ressources_humaines` WRITE;
/*!40000 ALTER TABLE `ressources_humaines` DISABLE KEYS */;
INSERT INTO `ressources_humaines` VALUES (1,1,'Tsafack','TOOOO','4152155','68547895214','disponible','0.00',1,NULL,NULL);
/*!40000 ALTER TABLE `ressources_humaines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ressources_materielles`
--

DROP TABLE IF EXISTS `ressources_materielles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ressources_materielles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `aep_id` int(11) NOT NULL,
  `libelle` varchar(180) NOT NULL,
  `categorie` varchar(120) DEFAULT NULL,
  `reference` varchar(120) DEFAULT NULL,
  `quantite_totale` decimal(12,2) DEFAULT '0.00',
  `quantite_disponible` decimal(12,2) DEFAULT '0.00',
  `unite` varchar(30) DEFAULT 'u',
  `cout_unitaire` decimal(12,2) DEFAULT '0.00',
  `statut` enum('disponible','occupe','panne','hors_service') DEFAULT 'disponible',
  `actif` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_rm_aep` (`aep_id`),
  KEY `idx_rm_statut` (`statut`),
  KEY `idx_rm_categorie` (`categorie`),
  KEY `idx_rm_actif` (`actif`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ressources_materielles`
--

LOCK TABLES `ressources_materielles` WRITE;
/*!40000 ALTER TABLE `ressources_materielles` DISABLE KEYS */;
/*!40000 ALTER TABLE `ressources_materielles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=13 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Administrateur'),(8,'Releveur'),(9,'Comptable'),(10,'Recouvreur'),(11,'Visiteur'),(12,'all');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `travail`
--

DROP TABLE IF EXISTS `travail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `travail` (
  `id` int(5) unsigned NOT NULL AUTO_INCREMENT,
  `id_aep` int(4) unsigned NOT NULL,
  `id_utilisateur` int(4) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_aep_travail` (`id_aep`),
  KEY `fk_utilisateur_travail` (`id_utilisateur`),
  CONSTRAINT `fk_aep_travail` FOREIGN KEY (`id_aep`) REFERENCES `aep` (`id`),
  CONSTRAINT `fk_utilisateur_travail` FOREIGN KEY (`id_utilisateur`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `travail`
--

LOCK TABLES `travail` WRITE;
/*!40000 ALTER TABLE `travail` DISABLE KEYS */;
/*!40000 ALTER TABLE `travail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_clefs`
--

DROP TABLE IF EXISTS `user_clefs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_clefs` (
  `clef_id` int(3) unsigned NOT NULL,
  `user_id` int(3) unsigned NOT NULL,
  PRIMARY KEY (`clef_id`),
  KEY `user_id` (`user_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_clefs`
--

LOCK TABLES `user_clefs` WRITE;
/*!40000 ALTER TABLE `user_clefs` DISABLE KEYS */;
INSERT INTO `user_clefs` VALUES (3,8),(2,9),(4,10),(10,11),(11,12),(6,13),(5,14),(12,15),(9,16),(13,17);
/*!40000 ALTER TABLE `user_clefs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_roles`
--

DROP TABLE IF EXISTS `user_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_roles` (
  `user_id` int(11) NOT NULL DEFAULT '0',
  `role_id` int(11) NOT NULL DEFAULT '0',
  PRIMARY KEY (`user_id`,`role_id`),
  KEY `role_id` (`role_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_roles`
--

LOCK TABLES `user_roles` WRITE;
/*!40000 ALTER TABLE `user_roles` DISABLE KEYS */;
INSERT INTO `user_roles` VALUES (1,1),(7,1),(8,8),(9,8),(9,10),(10,9),(10,11),(11,8),(11,9),(11,10),(11,11),(12,1),(12,8),(12,11),(12,12),(13,1),(13,11),(14,1),(14,11),(15,11),(16,1),(16,11),(17,1),(17,11);
/*!40000 ALTER TABLE `user_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(5) unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(32) NOT NULL,
  `nom` varchar(32) NOT NULL,
  `prenom` varchar(32) NOT NULL,
  `numero_telephone` varchar(16) NOT NULL,
  `password` varchar(64) DEFAULT NULL,
  `salt` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=18 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `utilisateur` (
  `id` int(5) unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(32) NOT NULL,
  `nom` varchar(32) NOT NULL,
  `prenom` varchar(32) NOT NULL,
  `numero_telephone` varchar(16) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur`
--

LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `v_intervention_couts`
--

DROP TABLE IF EXISTS `v_intervention_couts`;
/*!50001 DROP VIEW IF EXISTS `v_intervention_couts`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `v_intervention_couts` (
  `intervention_id` int(11),
  `titre` varchar(200),
  `aep_id` int(11),
  `cout_prevu_affectations` decimal(37,2),
  `cout_reel_affectations` decimal(37,2)
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `versements`
--

DROP TABLE IF EXISTS `versements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `versements` (
  `id` int(4) unsigned NOT NULL AUTO_INCREMENT,
  `montant` decimal(15,2) NOT NULL,
  `date_versement` date NOT NULL,
  `id_mois_facturation` int(4) unsigned NOT NULL,
  `id_redevance` int(4) unsigned NOT NULL,
  `est_valide` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `id_mois_facturation` (`id_mois_facturation`),
  KEY `id_redevance` (`id_redevance`)
) ENGINE=MyISAM AUTO_INCREMENT=41 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `versements`
--

LOCK TABLES `versements` WRITE;
/*!40000 ALTER TABLE `versements` DISABLE KEYS */;
INSERT INTO `versements` VALUES (38,'34147.00','2025-11-02',51,2,0),(40,'25535.00','2025-11-02',52,2,0);
/*!40000 ALTER TABLE `versements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `vue_abones_facturation`
--

DROP TABLE IF EXISTS `vue_abones_facturation`;
/*!50001 DROP VIEW IF EXISTS `vue_abones_facturation`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE TABLE `vue_abones_facturation` (
  `id` int(6) unsigned,
  `id_compteur` int(5) unsigned,
  `id_aep` int(4) unsigned,
  `id_mois` int(3) unsigned,
  `id_abone` int(4) unsigned,
  `nom_abone` varchar(128),
  `id_reseau` int(3) unsigned,
  `numero_telephone` varchar(16),
  `mois` varchar(32),
  `id_constante_reseau` int(2) unsigned,
  `id_mois_facturation` int(3) unsigned,
  `date_facturation` date,
  `date_depot` date,
  `ancien_index` decimal(8,2),
  `nouvel_index` decimal(7,2) unsigned,
  `id_facture` int(4) unsigned,
  `date_releve` date,
  `penalite` decimal(15,2),
  `numero_compte_anticipation` varchar(16),
  `prix_entretient_compteur` int(5) unsigned,
  `prix_metre_cube_eau` int(5) unsigned,
  `prix_tva` decimal(7,2) unsigned,
  `consommation` decimal(9,2),
  `montant_conso` decimal(20,2),
  `montant_conso_entretien` decimal(21,2),
  `montant_conso_tva` decimal(33,8),
  `montant_total` decimal(34,8),
  `montant_restant` decimal(35,8),
  `montant_verse` decimal(15,2),
  `montant_a_valider` decimal(34,8),
  `impaye` decimal(35,8)
) ENGINE=MyISAM */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_intervention_couts`
--

/*!50001 DROP TABLE IF EXISTS `v_intervention_couts`*/;
/*!50001 DROP VIEW IF EXISTS `v_intervention_couts`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_intervention_couts` AS select `i`.`id` AS `intervention_id`,`i`.`titre` AS `titre`,`i`.`aep_id` AS `aep_id`,(ifnull(sum(`irh`.`cout_prevu`),0) + ifnull(sum(`irm`.`cout_prevu`),0)) AS `cout_prevu_affectations`,(ifnull(sum(`irh`.`cout_reel`),0) + ifnull(sum(`irm`.`cout_reel`),0)) AS `cout_reel_affectations` from ((`interventions` `i` left join `intervention_rh` `irh` on((`irh`.`intervention_id` = `i`.`id`))) left join `intervention_rm` `irm` on((`irm`.`intervention_id` = `i`.`id`))) group by `i`.`id`,`i`.`titre`,`i`.`aep_id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_abones_facturation`
--

/*!50001 DROP TABLE IF EXISTS `vue_abones_facturation`*/;
/*!50001 DROP VIEW IF EXISTS `vue_abones_facturation`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_abones_facturation` AS select `i`.`id` AS `id`,`i`.`id_compteur` AS `id_compteur`,`cr`.`id_aep` AS `id_aep`,`mf`.`id` AS `id_mois`,`a`.`id` AS `id_abone`,`a`.`nom` AS `nom_abone`,`a`.`id_reseau` AS `id_reseau`,`a`.`numero_telephone` AS `numero_telephone`,`mf`.`mois` AS `mois`,`cr`.`id` AS `id_constante_reseau`,`i`.`id_mois_facturation` AS `id_mois_facturation`,`mf`.`date_facturation` AS `date_facturation`,`mf`.`date_depot` AS `date_depot`,`i`.`ancien_index` AS `ancien_index`,`i`.`nouvel_index` AS `nouvel_index`,`f`.`id` AS `id_facture`,`mf`.`date_releve` AS `date_releve`,`f`.`penalite` AS `penalite`,`a`.`numero_compte_anticipation` AS `numero_compte_anticipation`,`cr`.`prix_entretient_compteur` AS `prix_entretient_compteur`,`cr`.`prix_metre_cube_eau` AS `prix_metre_cube_eau`,`cr`.`prix_tva` AS `prix_tva`,(`i`.`nouvel_index` - `i`.`ancien_index`) AS `consommation`,((`i`.`nouvel_index` - `i`.`ancien_index`) * `cr`.`prix_metre_cube_eau`) AS `montant_conso`,(((`i`.`nouvel_index` - `i`.`ancien_index`) * `cr`.`prix_metre_cube_eau`) + `cr`.`prix_entretient_compteur`) AS `montant_conso_entretien`,((((`i`.`nouvel_index` - `i`.`ancien_index`) * `cr`.`prix_metre_cube_eau`) + `cr`.`prix_entretient_compteur`) * (1 + (`cr`.`prix_tva` / 100))) AS `montant_conso_tva`,(((((`i`.`nouvel_index` - `i`.`ancien_index`) * `cr`.`prix_metre_cube_eau`) + `cr`.`prix_entretient_compteur`) * (1 + (`cr`.`prix_tva` / 100))) + `f`.`penalite`) AS `montant_total`,((((((`i`.`nouvel_index` - `i`.`ancien_index`) * `cr`.`prix_metre_cube_eau`) + `cr`.`prix_entretient_compteur`) * (1 + (`cr`.`prix_tva` / 100))) + `f`.`penalite`) - `f`.`montant_verse`) AS `montant_restant`,`f`.`montant_verse` AS `montant_verse`,least((((((`i`.`nouvel_index` - `i`.`ancien_index`) * `cr`.`prix_metre_cube_eau`) + `cr`.`prix_entretient_compteur`) * (1 + (`cr`.`prix_tva` / 100))) + `f`.`penalite`),`f`.`montant_verse`) AS `montant_a_valider`,((((((`i`.`nouvel_index` - `i`.`ancien_index`) * `cr`.`prix_metre_cube_eau`) + `cr`.`prix_entretient_compteur`) * (1 + (`cr`.`prix_tva` / 100))) + `f`.`penalite`) - `f`.`montant_verse`) AS `impaye` from ((((`abone` `a` join `facture` `f` on((`a`.`id` = `f`.`id_abone`))) join `indexes` `i` on((`f`.`id_indexes` = `i`.`id`))) join `mois_facturation` `mf` on((`i`.`id_mois_facturation` = `mf`.`id`))) join `constante_reseau` `cr` on((`mf`.`id_constante` = `cr`.`id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-11  6:20:42
